.advantages {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-top: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
  }
}

.advantages__advantages-list-wrapper {
  width: 100%;
  background-color: var(--grey-light);
  position: relative;

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1200 94.074' enable-background='new 0 0 1200 94.074' xml:space='preserve'%3E%3Cpolygon fill='%23ffffff' points='1200,0 0,0 0,94.074 '/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    height: 52px;

    @media (max-width: $phone-width) {
      top: -20px;
    }

    @media (min-width: $desktop-width) {
      height: 95px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 21px;
  }
}
