.page-error {
  max-height: 289px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    max-height: 363px;
  }

  @media (min-width: $desktop-width) {
    max-height: 377px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-error__title {
  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    max-width: 260px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.page-error__description {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    max-width: 322px;
  }

  @media (min-width: $desktop-width) {
    max-width: 355px;
    margin-bottom: 0;
  }
}
