.achievements-request-group {
  @include fieldset-fix;
  width: 100%;
  background-color: var(--grey-light);
  padding-top: 42px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 47px;
  @media (min-width: $tablet-width) {
    background-color: var(--transparent);
    border: 2px solid var(--grey);
    margin-bottom: 58px;
    padding-left: 60px;
    padding-top: 47px;
    padding-right: 51px;
  }
  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-bottom: 54px;
  }
  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
  }
}

.achievements-request-group__request-title {
  max-width: 252px;
  @media (min-width: $tablet-width) {
    max-width: none;
  }
}

.achievements-request-group__request-list {
  @include list-fix;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.achievements-request-group__request-item {
  margin-bottom: 52px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    &--burned {
      order: 3;
    }
    &--seen-Chack {
      order: 1;
      margin-left: 60px;
    }
    &--souvenirs {
      order: 4;
      margin-left: 98px;
    }
    &--tower {
      order: 2;
      margin-left: 56px;
    }
    &--hotel {
      order: 5;
      margin-left: 66px;
    }
  }
}

.achievements-request-group__request-container {
  width: 100%;
  max-width: 100%;
  padding-left: 57px;
  box-sizing: border-box;
}

.achievements-request-group__request {
  @include input-cut;
}

.achievements-request-group__checkbox {
  margin-left: -57px;
}
