.advantages {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-top: 47px;
  }
}
