.bg-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 462px;
  background-repeat: no-repeat;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: center center;
  background-color: var(--dark-blue);
}

.bg-image__description {
  font-family: Opensanslight;
  text-align: center;
  color: var(--white);
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  margin: 0;
  margin-bottom: 34px;
}

.bg-image__phone {
  background-image: url(../img/iphone-hand-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 286px;
}
