.check-radio {
  width: 37px;
  height: 37px;
  box-sizing: border-box;
  background-color: var(--white);
  border: 2px solid var(--grey);
  position: absolute;
  border-radius: 50%;
}

input:checked + .check-radio::before {
  content: "";
  width: 15px;
  height: 15px;
  top: 9px;
  left: 9px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Ccircle cx='7.5' cy='7.5' r='7.5' fill='%23D22856'/%3E%3C/svg%3E");
}
