:root {
  --dark-blue: #283645;
  --white: #FFFFFF;
  --white-transparent: rgba(255, 255, 255, 0.3);
  --dark-red: #D22856;
  --dark-red-transparent: rgba(210, 40, 86, 0.3);
  --grey: #E5E5E5;
  --green: #3DC644;
  --black: #000000;
  --black-transparent: rgba(0, 0, 0, 0.3);
  --transparent: rgba(0, 0, 0, 0);
  --menu-shadow: rgba(255, 255, 255, 0.15);
  --grey-light: #F2F2F2;
  --color-252527: #252527;
  --orange: #F25B26;
  --color-1D2631: #1D2631;
  --blue: #2DABE2;
  --green-84C441: #84C441;
  --green-A4C639: #A4C639;
  --green-2AAB6D: #2AAB6D;
  --green-1C9B5E: #1C9B5E;
  --orange-F05423: #F05423;
  --yellow: #F9BC15;
}
