:root {
  --dark-blue: #283645;
  --white: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.3);
  --dark-red: #d22856;
  --dark-red-transparent: rgba(210, 40, 86, 0.3);
  --grey: #e5e5e5;
  --green: #3dc644;
  --black: #000000;
  --black-transparent: rgba(0, 0, 0, 0.3);
  --transparent: rgba(0, 0, 0, 0);
  --menu-shadow: rgba(255, 255, 255, 0.15);
  --grey-light: #f2f2f2;
  --color-252527: #252527;
  --orange: #f25b26;
  --color-1D2631: #1d2631;
  --blue: #2dabe2;
  --green-84C441: #84c441;
  --green-A4C639: #a4c639;
  --green-2AAB6D: #2aab6d;
  --green-1C9B5E: #1c9b5e;
  --orange-F05423: #f05423;
  --yellow: #f9bc15;
}
