.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--dark-blue);

  &:hover .copyright__path,
  &:focus .copyright__path {
    fill: var(--black);
  }

  &:active .copyright__path {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__academy-icon {
  margin-left: 15px;
}

.copyright__path {
  fill: var(--dark-red);
}
