.download-icons {
  @media (max-width: $tablet-width) {
    background-color: var(--color-1D2631);
  }
}

.download-icons__list {
  box-sizing: border-box;
  @include list-fix;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media (max-width: $tablet-width) {
    margin-top: 32px;
    margin-bottom: 16px;
    padding-left: 19px;
    padding-right: 20px;
  }
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-top: 47px;
    margin-bottom: 27px;
    padding: 0 30px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 67px;
    margin-bottom: 58px;
  }
}

.download-icons__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  text-align: center;
  color: var(--white);
  font-family: "Opensanslight";
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    font-size: 18px;
  }
}
