.effect {
  @media (max-width: $phone-width) {
    display: none;
  }
  @media (min-width: $desktop-width) {
    background-color: var(--grey-light);
  }
}

.effect__width-wrapper {
  padding-top: 102px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url(../img/icon-timer.svg);
  background-repeat: no-repeat;
  &::before {
    content: '24';
    font-family: "Opensansbold";
    font-size: 96px;
    line-height: 163px;
    color: var(--dark-red);
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    border: 16px solid var(--dark-red);
    bottom: 18px;
    left: 18px;
    @media (min-width: $desktop-width) {
      border-width: 18px;
      font-size: 120px;
      line-height: 201px;
      width: 252px;
      height: 252px;
      bottom: 90px;
      left: 23px;
    }
  }
  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-bottom: 22px;
    padding-top: 96px;
    padding-left: 311px;
    background-size: 238px auto;
    background-position: left bottom;
  }
  @media (min-width: $desktop-width) {
    padding-left: 370px;
    background-size: 298px auto;
    background-position: left 67px;
    padding-top: 104px;
    padding-bottom: 112px;
    background-position: left 9px;
  }
}

.effect__title {
  margin-top: 0;
  color: var(--black);
  font-family: "Opensansbold";
  font-size: 30px;
  line-height: 36px;
  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin-bottom: 10px;
  }
  @media (min-width: $desktop-width) {
    line-height: 30px;
    margin-bottom: 7px;
  }
}

.effect__title br {
  display: none;
  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    display: inline;
  }
}

.effect__description {
  color: var(--dark-blue);
  font-size: 14px;
  line-height: 24px;
  @media (min-width: $desktop-width) {
    max-width: 534px;
    font-size: 18px;
    line-height: 30px;
  }
  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin: 0;
    margin-bottom: 10px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.effect__link {
  color: var(--dark-red);
  font-size: 14px;
  line-height: 24px;
  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
