@mixin list-fix() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin fieldset-fix() {
  padding: 0;
  border: none;
}

@mixin input-cut() {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}
