.main-download-link {
  letter-spacing: 1px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: var(--white);
  text-decoration: none;
  border: 3px solid var(--white);
  border-radius: 29px;
  padding: 15px 15px;
  &:hover,
  &:focus {
    color: var(--dark-red);
    background-color: var(--white);
  }
  &:active {
    color: var(--dark-red-transparent)
  }
  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}
