.nets-list {
  @include list-fix;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.nets-list__nets-item {
  margin-left: 8px;
  margin-bottom: 14px;
  &:first-child {
    margin-left: 0;
  }
}

.nets-list__nets-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid var(--grey-light);
  &:hover {
    border-color: var(--dark-blue);
  }
  &:active {
    opacity: 0.3;
    border-color: var(--grey-light);
  }
}

.nets-list__path {
  fill: var(--dark-red);
}
