.page-success {
  max-height: 380px;
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    max-height: 432px;
  }
  @media (min-width: $desktop-width) {
    max-height: 377px;
  }
}

.page-success__title {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    max-width: 395px;
  }
  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.page-success__description {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    max-width: 322px;
  }
  @media (min-width: $desktop-width) {
    max-width: 472px;
  }
}

.page-success__button-container {
    width: 100%;
    padding: 52px 0;
    background-color: var(--grey-light);
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
