.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.page-footer__logo-link {
  margin-bottom: 41px;
}

.page-footer__nets-list {
  margin-bottom: 41px;
}
