.photos-scroll img {
  display: block;
}

.photos-scroll__description {
  margin: 0;
  padding: 44px 34px 40px 34px;
  font-size: 14px;
  line-height: 30px;
  color: var(--dark-blue);
  text-align: center;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-top: 91px;
  }
  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    max-width: 570px;
    margin: 0 auto;
    padding-bottom: 67px;
  }
  @media (min-width: $desktop-width) {
    max-width: 642px;
    margin: 0 auto;
    padding-bottom: 63px;
  }
}
