.photo-item {
  box-sizing: border-box;
  width: 300px;
  max-width: 320px;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  &--day-panorama {
    width: 100%;
    max-width: 100%;
  }
}

.photo-item__img-container {
  display: block;
}

.photo-item__day-panorama {
  position: absolute;
  display: block;
  width: 140px;
  height: 36px;
  background-color: var(--dark-red);
  color: var(--white);
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-item__user-comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 280px;
  min-height: 155px;
  color: var(--dark-blue);
  background-color: var(--grey-light);
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 26px;
  padding-bottom: 26px;
  box-sizing: border-box;
}

.photo-item__username-time {
  margin: 0;
}

.photo-item__username {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.photo-item__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-item__comment {
  margin: 0;
  margin-bottom: auto;
  font-size: 14px;
  line-height: 24px;
}

.photo-item__likes {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  color: var(--dark-red);
}

.photo-item__request {
  @include input-cut;
}

.photo-item__like-check {
  width: 13px;
  height: 12px;
  background-image: url();
}

.photo-item__like-path {
  fill: var(--dark-red);
}
