.post-creation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  width: 100%;
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-top: 54px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 32px;
  }
}

.post-creation__call {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: var(--dark-blue);
  margin: 0;
  margin-bottom: 42px;
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    font-size: 18px;
    margin-bottom: 70px;
  }
  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-bottom: 67px;
  }
}

.post-creation__form {
  margin-bottom: 10px;
  width: 100%;
  max-width: 940px;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: var(--grey-light);
  @media (max-width: $tablet-width) {
    width: inherit;
    flex-direction: column;
  }
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-top: 42px;
    padding-bottom: 11px;
    margin-bottom: 5px;
  }
  @media (min-width: $desktop-width) {
    padding-bottom: 14px;
    margin-bottom: 67px;
  }
}

.post-creation__flex-container {
  width: 100%;
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 50%;
  }
  @media (min-width: $desktop-width) {
    width: 46.7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.post-creation__lists-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 20px;
  }
}

.post-creation__photo {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 38px;
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-top: 15px;
    padding-right: 11px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 37px;
    margin-left: 60px;
    margin-right: 50px;
  }
}

.post-creation__options-list {
  @include list-fix;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 39px;
  padding-right: 49px;
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.post-creation__button-option {
  border: none;
  background-color: var(--transparent);
  cursor: pointer;
  padding: 0;
}

.post-creation__path {
  opacity: 0.3;
  &:hover,
  &:focus {
    opacity: 0.5;
  }
  &--chosen {
    fill: var(--dark-red);
    opacity: 1;
  }
}

.post-creation__range-list {
  @include list-fix;
  margin-top: 33px;
  padding-left: 40px;
  padding-right: 40px;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 20px;
    padding-right: 0;
  }
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-top: 0;
    padding-left: 35px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }
}

.post-creation__range-item {
  display: none;
  position: relative;
  &--current {
    display: block;
  }
  @media (min-width: $tablet-width) {
    display: block;
    padding-bottom: 34px;
    padding-left: 55px;
    padding-right: 18px;
    border-bottom: 1px solid var(--grey);
    margin-top: 34px;
  }
  @media (min-width: $desktop-width) {
    padding-left: 92px;
  }
  &--crop::before {
    content: '';
    position: absolute;
    width: 44px;
    height: 44px;
    top: -10px;
    left: 4px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 48 48' enable-background='new 0 0 48 48' xml:space='preserve'%3E%3Cpath fill='%23D22856' d='M34,30h4V14c0-2.21-1.79-4-4-4H18v4h16V30z M14,34V2h-4v8H2v4h8v20c0,2.21,1.79,4,4,4h20v8h4v-8h8v-4H14z'/%3E%3C/svg%3E");
    @media (max-width: $tablet-width) {
      display: none;
    }
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 22px;
      height: 22px;
    }
    @media (min-width: $desktop-width) {
      width: 44px;
      height: 44px;
      top: -22px;
      left: 0;
    }
  }
  &--fill::before {
    position: absolute;
    content: '';
    width: 48px;
    height: 43px;
    top: -7px;
    left: 3px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 48 48' enable-background='new 0 0 48 48' xml:space='preserve'%3E%3Cpath fill='%23D22856' d='M33.12,17.88L15.24,0l-2.83,2.83l4.76,4.76L6.88,17.88c-1.17,1.17-1.17,3.07,0,4.24l11,11C18.46,33.71,19.23,34,20,34 s1.54-0.29,2.12-0.88l11-11C34.29,20.95,34.29,19.05,33.12,17.88z M10.41,20L20,10.42L29.59,20H10.41z M38,23c0,0-4,4.33-4,7 c0,2.21,1.79,4,4,4s4-1.79,4-4C42,27.33,38,23,38,23z'/%3E%3Crect fill='%23D22856' y='40' width='48' height='3'/%3E%3C/svg%3E");
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 24px;
      height: 22px;
    }
    @media (min-width: $desktop-width) {
      width: 48px;
      height: 43px;
      top: -18px;
      left: 3;
    }
  }
  &--contrast::before {
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    top: -7px;
    left: 7px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-35.422 -7.96 31.92 31.92' enable-background='new -35.422 -7.96 31.92 31.92' xml:space='preserve'%3E%3Cpath fill='%23D22856' d='M-19.462-3.96c6.595,0,11.96,5.365,11.96,11.96s-5.365,11.96-11.96,11.96S-31.422,14.595-31.422,8 S-26.057-3.96-19.462-3.96 M-19.462-7.96c-8.814,0-15.96,7.145-15.96,15.96c0,8.813,7.146,15.96,15.96,15.96S-3.502,16.813-3.502,8 C-3.502-0.815-10.648-7.96-19.462-7.96L-19.462-7.96z'/%3E%3Cpath fill='%23D22856' d='M-19.462,16.331c4.706,0,8.52-3.813,8.52-8.52c0-4.705-3.813-8.519-8.52-8.519'/%3E%3C/svg%3E");
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 16px;
      height: 16px;
    }
    @media (min-width: $desktop-width) {
      width: 32px;
      height: 32px;
      top: -15px;
      left: 6px;
    }
  }
}

.post-creation__scale {
  width: 100%;
  height: 2px;
  background-color: var(--dark-blue);
}

.post-creation__toggle {
  cursor: pointer;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  background-color: var(--white);
  border: 2px solid var(--dark-red);
  border-radius: 50%;
  position: absolute;
  top: -6px;
  &:active {
    background-color: var(--dark-red);
  }
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    &--crop {
      left: 73%;
    }
    &--fill {
      left: 29%;
    }
    &--contrast {
      left: 55%;
    }
  }
}

.post-creation__buttons-list {
  @include list-fix;
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  border-top: 1px solid var(--grey);
  padding-top: 38px;
  @media (min-width: $tablet-width) {
    border-top: none;
  }
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-top: 35px;
  }
  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-bottom: 31px;
  }
}

.post-creation__buttons-item {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-left: 35px;
    padding-right: 35px;
  }
  @media (min-width: $desktop-width) {
    &--submit {
      padding-right: 16px;
    }
    &--cancel {
      padding-left: 28px;
      padding-right: 10px;
    }
  }
}

.post-creation__button {
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  &--submit {
    border-color: var(--dark-red);
    color: var(--dark-red);
    margin-bottom: 12px;
    &:hover {
      color: var(--white);
      background-color: var(--dark-red);
    }
    &:active {
      color: var(--white-transparent);
      background-color: var(--dark-red);
    }
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      margin-bottom: 25px;
    }
  }
  &--cancel {
    border-color: var(--dark-blue);
    color: var(--dark-blue);
    opacity: 0.1;
    &:hover {
      opacity: 0.3;
    }
    &:active {
      color: var(--white-transparent);
      background-color: var(--dark-blue);
      opacity: 0.3;
    }
  }
}
