.request-text {
  width: 100%;
  border: 2px solid var(--grey-light);
  padding: 10px 20px;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-blue);
  box-sizing: border-box;
  min-width: 214px;
  margin-bottom: 29px;
}
