.toggles {
 background-color: black;
 @include list-fix;
 display: flex;
}

.toggles__item {
  position: relative;
  margin-right: 27px;
  &:last-child {
    margin-right: 0;
  }
}

.toggles__input {
  @include input-cut;
  &:checked + .toggles__span {
    background-color: var(--white);
    border: 3px solid var(--dark-blue);
    opacity: 1;
    top: -3px;
    left: -3px;
  }
}

.toggles__span {
  cursor: pointer;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--dark-blue);
  opacity: 0.3;
  border-radius: 50%;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.1;
  }
}
